In [1]:
## Here we Train a model to predict Used Car price

In [49]:
import pandas as pd
import numpy as np

In [50]:
df = pd.read_csv("car_data_clean2.csv")

In [51]:
df.reset_index(inplace=True)

In [52]:
df.shape

(5932, 7)

In [53]:
df.shape

(5932, 7)

In [54]:
df.drop("index", axis=1 , inplace=True)

In [55]:
X = df.drop("selling_price", axis=1)
y = df["selling_price"]

In [56]:
df

                      name  year  selling_price  km_driven    fuel  Company
0       Maruti Swift Dzire  2014         450000     145500  Diesel   Maruti
1     Honda City 2017-2020  2006         158000     140000  Petrol    Honda
2       Hyundai i20 Sportz  2010         225000     127000  Diesel  Hyundai
3         Maruti Swift VXI  2007         130000     120000  Petrol   Maruti
4        Hyundai Xcent 1.2  2017         440000      45000  Petrol  Hyundai
...                    ...   ...            ...        ...     ...      ...
5927        Maruti Wagon R  2013         260000      50000  Petrol   Maruti
5928     Hyundai i20 Magna  2014         475000      80000  Diesel  Hyundai
5929     Hyundai i20 Magna  2013         320000     110000  Petrol  Hyundai
5930    Hyundai Verna CRDi  2007         135000     119000  Diesel  Hyundai
5931    Maruti Swift Dzire  2009         382000     120000  Diesel   Maruti

[5932 rows x 6 columns]

In [57]:
##train test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train,y_test = train_test_split(X,y,test_size= 0.2,random_state= 105)

In [58]:
X_train.shape,X_test.shape,y_train.shape ,y_test.shape

((4745, 5), (1187, 5), (4745,), (1187,))

In [59]:
from sklearn.preprocessing import OneHotEncoder
one = OneHotEncoder()
one.fit(X[["name","fuel","Company"]])

OneHotEncoder()

In [14]:
from sklearn.compose import make_column_transformer
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import make_pipeline

col_tr = make_column_transformer((OneHotEncoder(categories=one.categories_),["name","fuel","Company"]),remainder="passthrough")

In [15]:
## import Linear regression

lr = LinearRegression()

In [17]:
## creating pipeline
pipline = make_pipeline(col_tr,lr)

In [60]:
pipline.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Chevrolet Aveo 1.4', 'Chevrolet Aveo U-VA',
       'Chevrolet Beat Diesel', 'Chevrolet Beat LS', 'Chevrolet Beat LT',
       'Chevrolet Captiva 2.2', 'Chevrolet Captiva LT',
       'Chevrolet Cruze LT', 'Chevrolet Cruze LTZ', 'Chevrolet Enjoy 1.3',
       'Chevrol...
       'Volkswagen Vento 1.6', 'Volkswagen Vento Diesel',
       'Volkswagen Vento IPL', 'Volkswagen Vento Konekt',
       'Volkswagen Vento Petrol'], dtype=object),
                                                                            array(['Diesel', 'Petrol'], dtype=object),
                                                                            array(['Chevrolet', 'Ford', 'Honda', 'Hyundai', 'Mahindra', 'Maruti',
       'Renault', 'Tata', 'Toyota', 'Volkswagen'], dtype=object)]),
                                                  ['name', 'fuel',
                                                   'Company'])])),
                ('linearregression', LinearRegression())])

In [61]:
pipline.score(X_test,y_test)*100

89.69666966439156

In [20]:
pipline.predict(pd.DataFrame(columns=X_test.columns,data=np.array(['Maruti 800 AC',2013,50000,'Petrol',"Maruti"]).reshape(1,5)))

array([287804.86590473])

In [21]:
#save the model using pickle
import pickle
pickle.dump(pipline,open("Car_model2000.pkl", "wb"))